@import url("https:fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bad+Script&family=Caveat&family=Nothing+You+Could+Do&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    color: white;
    /* margin-left: 30px; */
}

.para {
    color: white;
    justify-content: start;
    text-align: start;
    width: auto;
    height: auto;
    padding-right: 0;
    margin-top: 0px;
    margin-right: 20%;
}

.navi {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 0;
    background: black;
    margin-right: 50px;
    margin-top: 10px;
}


/* NAVBAR STYLE */

.navigation {
    position: relative;
    width: 500px;
    height: 70px;
    margin-right: 440px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    transition: 0.5s;
    color: white;
}

.navigation ul li.active a .icon {
    transform: translateY(32px);
}

.navigation ul li a .text {
    position: absolute;
    color: darkkhaki;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);

}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-10px);
    font-size: 1em;
}

.indicator {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    background-color: #5F9EA0;
    border-radius: 50%;
    border: 6px solid black;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

/* autotype */
.text-box {
    margin-top: 100px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: center;
}

.text-box span {
    font-size: 40px;
    font-weight: bold;
    line-height: 200px;
    color: darkkhaki;
}


/* CODE PAGE */

.code_body {
    background-color: #000000;
}

/* CARDS */
.color-white {
    color: white;
}

.flip-box {
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 50px;
    width: 300px;
}

.flip-box-front,
.flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 300px;
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    backface-visibility: hidden;
}

.flip-box-front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px)scale(.94);
    top: 50%;
}

.flip-box-header {
    font-size: 30px;
    border-bottom: 2px solid darkkhaki;
    text-transform: uppercase;
}

.flip-box p {
    font-size: 20px;
    line-height: 1.5rem;
    text-transform: capitalize;
}

.flip-box-img {
    margin-top: 25px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}

.flip-box-button:hover {
    border: 2px solid darkkhaki;
}

.button_link {
    text-decoration: none;
    color: white;
}

.button_link:hover {
    color: darkkhaki;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #FFA500, #FF8C00, #FF7F50, #FF6347, #FF4500);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #7FFFD4, #00FFFF, #40E0D0, #48D1CC, #00CED1);
}

/* ABOUT US PAGE */
.about_cont {
    height: 60vh;
    width: 30%;
    background: rgba(90, 90, 90, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}

.about_img {
    height: 70px;
    width: 70px;
    background: url("./about-img.png")no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_cont h1 {
    color: white;
    margin-top: 50px;
    text-transform: uppercase;
}

.about_cont p {
    color: darkkhaki;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: capitalize;
}

.about_cont strong {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.abt {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: darkkhaki;
    font-weight: 700;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.outer {
    position: relative;
    margin: 25px 50px;
    background: #ccc;
}

.button {
    height: 70px;
    width: 220px;
    border-radius: 50px;

}

.outer button,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button {
    background: black;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button {
    height: 60px;
    width: 210px;
    border-radius: 50px;

}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span {
    border-radius: 50px;
}

.outer:hover span:nth-child(1) {
    filter: blur(7px);
}

.outer:hover span:nth-child(2) {
    filter: blur(14px);
}

.outer:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.about_btn {
    color: white;
    text-decoration: none;
    font-weight: 600;
}